body{
    background-color: #ebebeb;
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000000;
}
/* Calendario  */

h1{
    text-align: center;
    color: #000000;
}

main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2rem;
    background-color: #f4f4f4;
}

.calendario {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #016601;
    border-radius: 8px;
    background-color: #016601;
    overflow: hidden;
}

.mes {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    color: #016601;
}

.dias {
    display: flex;
    flex-wrap: wrap;
}

.dia {
    width: calc(100% / 7);
    padding: 15px 0;
    text-align: center;
    border: 1px solid #016601;
    box-sizing: border-box;
    background-color: #ffffff;
    color: black;
}

.dia.vacio {
    background-color: #016601; 
    border: 1px solid rgb(0, 0, 0)
}

.cursos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 10px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 5px;
}

.python {
    background-color: #4a90e2; 
}

.html {
    background-color: #790983; 
}

.css {
    background-color: #c02f03; 
}

.javascript {
    background-color: #f4b400; 
}

.desabilitado{
    background-color: grey;
    color: rgb(168, 168, 168);
}