body{
    background-color: #ebebeb;
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000000;
}

main {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table-header {
    background-color: #00ce60;
    color: #000000;
    padding: 10px;
}

.table-row {
    border: 1px solid #ddd;
}

.table-cell {
    padding: 10px;
    text-align: center;
}

.total-row {
    font-weight: bold;
    text-align: right;
}
.total-amount{
    font-weight: bold;
    text-align: center;
}
.total-label {
    text-align: right;
}
.contenedorBoton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.checkout-button {
    display: flex;
    border-radius: 5px;
    background-color: #00ce60;
    outline: none;    
    font-size: 1rem;
    padding: 10px;
    margin: 5px;
    color: #000000;
    justify-content: center;
}

/* .checkout-button:hover {
    background-color: #45a049;
} */

@media screen and (max-width: 600px) {
    .cart-table {
        font-size: 0.8rem;
    }
    
}