body {
    background-color: #ebebeb;
    font-family: sans-serif;
    margin: 0;

}

main {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: #000000;
}

.formulario {
    margin: 0;
    width: auto;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.fila {
    margin: 0;
    padding-bottom: 15px;
    padding-right: 15px;
    display: flex;
    gap: 10px;
}

.agregar-persona {
    display: flex;
    justify-content: center;
}

input[type="text" i],
[type="number" i],[type="email" i],[type="password" i], [type="submit" i]
{
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
    outline: none;
    height: auto;
}

.inscribir-empresa {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.contenedorPrecio {
    font-size: 1.2rem;
    margin-top: 1%;
    display: flex;
    padding: 10px;
}

.guardarCambiosBoton{
    padding: 10px;
    border-radius: 5px;
    background-color: #00ce60;
    border: 2px solid #000000;
    outline: none;
    margin: 5px;
    font-weight: 600;
}

.inscribir-boton {
    padding: 10px;
    border-radius: 5px;
    background-color: #00ce60;
    border: 2px solid #000000;
    outline: none;
    margin: 5px;
    width: 100px;
    font-weight: 600;
}
.inscribir-empresa-boton{
    border-radius: 5px;
    background-color: #00ce60;
    border: 2px solid #000000;
    outline: none;
    margin: 10px;
    width: 200px;
    font-weight: 600;
}

.enviar-formulario{
    border-radius: 5px;
    background-color: #00ce60;
    border: 2px solid #000000;
    outline: none;
    margin: 10px;
    width: 200px;
    font-weight: 600;
}

.agregar-persona-boton{
    border-radius: 5px;
    background-color: #00ce60;
    border: 2px solid #000000;
    outline: none;
    margin: 10px;
    width: 200px;
    font-weight: 600;
}
/*Estilo para Mi Perfil*/

.mi-perfil {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    height: auto;
    width:auto
}

.guardarCambios {
    padding: 15px;
    display: flex;
    justify-content: center;
}


/*Mobile devices*/
@media screen and(max-width: 768px) {

    
    main {
        display: flex;
        justify-content: center;
    }

}

/*Tablet devices*/
@media screen and(min-width: 768px) and (max-width: 1368px){

    
    main {
        display: flex;
        justify-content: center;
    }

}

