body{
    background-color: #ebebeb;
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000000;
}
main {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-container {
    text-align: center;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between; /* Espaciado entre los elementos */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    margin-top: 20px; /* Espacio superior entre el título y el contenedor */
}

.gift-card-form {
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.monto,
.card-nombre {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.card-evento {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.monto {
    font-family: Arial, sans-serif;
}

input::placeholder {
    color: #aaa;
}

.font-size {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    appearance: none; /* Para quitar el estilo predeterminado del select */
    background-color: #fff; /* Color de fondo */
    cursor: pointer; /* Cambia el cursor al pasar sobre el select */
}


.confirm-button {
    display: flex;
    border-radius: 5px;
    background-color: #00ce60;
    outline: none;    
    font-size: 1rem;
    padding: 10px;
    margin: 5px;
    color: #000000;
    justify-content: center;
}

.card-preview h2 {
    margin-bottom: 15px;
}

.card-preview p {
    margin: 5px 0;
}

.display-monto,
.display-card-nombre,
.display-card-numero {
    font-weight: bold;
}


/* Estilos del fondo */
.background-preview {
    display: flex;
    gap: 10px;
}

.preview-image {
    width: 100px;
    height: 60px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

/* La Gift Card */
.card-preview {
    transition: color 0.3s;
    font-size: 14px;
    padding: 50px;
    margin-top: 150px;
    margin-left: 100px;
    border: 1px solid #ddd;
    border-radius: 8px; 
    margin-bottom: 5rem;
    flex: 0 0 400px; /* Fija el ancho de la vista previa (ajústalo según sea necesario) */
    height: 250px;
    display: flex; /* Usa flexbox */
    flex-direction: column; /* Alinea elementos en columna */
    justify-content: flex-start; /* Alineación por defecto */
    align-items: center; /* Alineación horizontal por defecto */
}



@media (max-width: 400px) {
    .background-preview {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column; /* Cambia la dirección a columna */
        align-items: stretch; /* Alinea los elementos a lo largo del eje transversal */
    }

    .gift-card-form {
        margin-right: 0; /* Elimina el margen derecho */
        margin-bottom: 20px; /* Agrega espacio inferior entre el formulario y la vista previa */
    }

    .card-preview {
        flex: 1; /* Permite que la vista previa ocupe el ancho completo */
        margin-top: 10px;
        margin-left: 10px;
    }
}