/*Header*/
nav a{
    font-weight: 600;    
}
.logoLupa{
    color: #000000;
}
.logoHome{
    height: 15px;
    padding-right: 5px;
}

.divHeaderBuscador{
    position:relative;
    width: 40%;
}
.contenededorBotonBusqueda{
    display: flex;
    justify-content: center;

}
.inputBusqueda{
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
    width: 80%;
}
.botonBusqueda{
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
    background-color: #ffffff;
    border: 0;
    outline: none;
    margin:auto;
}
.botonMiPerfil{
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #000000;
    outline: none;
    margin:auto;
    padding-right: 10px;
    width:120px;
    font-weight: 600;
}
.logoPerfil{
    padding-right: 5px;
}
.botonCalendario{
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #000000;
    outline: none;
    margin:auto;
    padding-right: 10px;
    width:120px;
    font-weight: 600;
}
.logoCalendario{
    padding-right: 5px;
}

.botonCarritoHeader{
    padding: 10px;
    border-radius: 5px;
    background-color: #00ce60;
    border: 2px solid #000000;
    outline: none;
    margin:auto;
    font-style: 00ce60;
}
.logoCarritoHeader{
    color: #000000;
    height: 15px;
}
.registrarse{
    color: #ffffff;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #ffffff;
    align-items: center;
    padding: 10px;
}

.logoHeader{
    display: flex;
    align-items: center;
}

.imagenHeader{
    height: 50px;
    margin-right: 10px;
}

/*Menu Header*/
.headerMenu{
    border-top-color: #000000;
    border-top-width: 1px;
    border-top-style: solid;
    background-color: #ffffff;
}
.headerMenu .navMenu .barraMenu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin:0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.barraMenuItemsRegalo{
    color:#00ce60;
}
.itemMenuLink{
    color: #000000;
    font-weight: 400;
    transition-property: color, font-size;
    transition-duration: 0.2s;

}
.itemMenuLink:hover{
    font-size: 1.01rem;
    color: #00ce60;
}
/* Fin Header */

/*FOOTER*/

.custom-footer {
    background-color: #074118;
    color: white;
    padding: 5px;
    margin-top: 20px;
    text-align: left;
}

.footer-content {
    background-color: #074118;
    display: flex;
    justify-content: space-around;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-title {
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-list {
    list-style-type: none;
    padding: 0;
}

.footer-list li {
    color: white;
    margin: 5px 0;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
}

.social-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.footer-object{
    color: #ffffff;
}

/* Fin Footer */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .logoHeader {
        margin-bottom: 10px;
    }

    .divHeaderBuscador {
        border: #000000 1px solid;
        border-radius: 5px;
        width: 70%;
        margin-bottom: 10px;
    }

    .inputBusqueda{
        height: 100%;
    }

    .botonBusqueda{
        height: 100%;
    }

    .headerMenu .navMenu .barraMenu {
        flex-direction:row;
        justify-content: center;
    }
    .itemMenuLink{
        padding-right: 5%;
    }
    .headerMenu .navMenu .barraMenu li {
        margin: 10px 0;
    }

    .headerMenu .navMenu .barraMenu li a {
        font-display: none;
    }
}