body{
    background-color: #ebebeb;
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000000;
}

/*Home*/
.gridCursos{
    display: grid;
    grid-template-areas: "a b c d";
    justify-content: space-between;
    padding: 20px;
}
.curso .a{
    grid-area: a;

}
.curso .b{
    grid-area: b;
}
.curso .c{
    grid-area: c;
}
.curso .d{
    grid-area: d;
}
.gridCursos a{
    color: #000000;
}
.contenedorSubtitulo{
    display: flex;
    justify-content:flex-start;

}
.contenedorTituloBienvenida{
    display: flex;
    justify-content:flex-start;

}
.subtituloCurso{
    font-size: 1.2rem;
    margin-left: 20px;
}
.curso{
    width: 400px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 2px;
    border: #000000 1px solid;
    justify-content: center;
}
.imagenCurso{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 2px;
}
.nombreCurso{
    display: flex;
    font-size: 1rem;
    padding-left: 5px;
}
.botonCarrito{
    display: flex;
    border-radius: 5px;
    background-color: #00ce60;
    outline: none;    
    font-size: 1rem;
    padding: 10px;
    margin: 5px;
    color: #000000;
}
.precioCurso{
    display: flex;
    font-size: 1rem;
    padding-left: 5px;
    font-weight: 400;
}
.contenededorBotonCarrito{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.logoCarrito{
    height: 15px;
    margin-left: 5px;
}
.contendorBienvenida{
    margin: 0px 30px;
}
.parrafoBienvenida{
    position: absolute;
    background-color: #ffffff;
    font-size: 1.2rem;
    padding: 20px;
    margin-left: -65%;
    width: 24%;  
    margin-top: 5%;
    box-shadow: 0px 0px 5px 0px #000000;
    border-radius: 2px;
}
.contenedorImagenHome{
    display: flex;
    justify-content: center;
}
.imagenHome{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 2px;
}
.contenendorNombreCurso{
    justify-content: center;
    display: flex;
    margin: 10px;
}
.contenendorInfoCurso{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
}
.contenedorCursos{
    margin: 10px;
}

@media (max-width: 768px){
    .gridCursos{
        display: grid;
        grid-template-areas: "a a b b"
                             "c c d d";
        justify-content: space-between;
        padding: 10px;
    }
    .curso{
        margin-bottom: 10px;
    }
}
