body{
    background-color: #ebebeb;
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000000;
}

/*Home*/
.contenedorSubTituloRegistro{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contenedorRegistro{
    justify-content: space-between;
    padding: 20px;
}
.contenedorForm{
    display: flex;
    justify-content: center;
    height: 100%;
}
.contenedorCargaDatos{
    font-weight: 600;    
    height: 100%;   
}
.contenedorCargaDatos{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.contenedorCargaDatos input{   
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
    outline: none;
}
.contenedorCargaDatos textarea{   
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
    outline: none;
}
.contenedorBotonRegistro{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.botonRegistro{
    padding: 10px;
    border-radius: 5px;
    background-color: #00ce60;
    border: 0;
    outline: none;
    color: #000000;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}
.contenedorDatosEmpresa{
    height: 100%;
}
.mapaUnlam{
    width: 80%;
    height: 80%;
    border: 0;
}
@media (max-width: 768px){
    
}