body{
    background-color: #ebebeb;
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000000;
}

.curso_detalles, .contenido, .profesor_container{
    width: 80%;
    margin: auto;
    margin-top: 2%;
}

.curso_detalles{
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-size: 1.2rem;
    height: 300px;
    align-items: center;
    margin-bottom: 4%;
    }
.curso_detalles img{
    height: 300px;
}
#footer_btm{
    margin-top: 16rem;
}
.contenido_item{
    display: flex;
    align-items: center;
}

.contenido_titulo{
    margin: 1.4rem 1rem;
    font-size: 1.4rem;
}
.titulo_curso{
    font-size: 2.4rem;
    margin: 0;
}
.titulo_datos{
    font-size: 2rem;
    margin-left: 2rem;
}
.info_curso{
    margin: 0.6rem 0;    
}
.inscribirse{
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    background-color: #00ce60;
    outline: none;    
    font-size: 1rem;
    padding: 10px;
    margin: 5px;
    color: #000000;
    font-weight: 600;
    font-size: 1rem;
}

.contenido_container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
}

.unidades{
    font-size: 1.4rem;
}


.profesor_container{
    display: flex;
    align-items: center;
}

.profesor_img{
    height: 200px;
}
.profesor_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
p{font-size: 1.4rem;}}
.stars{
    height: 20px;
    width: 120px;
}
.relacionados_container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 2%;
}
.relacionados_container img{
    height: 150px;
}
.cursos_relacionados{
    display: flex;
    justify-content: space-around;
}

.info_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
}

form {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.form_btn {
    display: flex;
    border-radius: 5px;
    background-color: #00ce60;
    outline: none;    
    font-size: 1rem;
    padding: 10px;
    color: #000000;
    justify-content: center;
    width: 100%;
}
.datos_contacto{
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    width: 400px;
    align-content: center;
p{padding: 1rem 0;}}
@media only screen and (max-width: 1368px) {

    .curso_detalles{
        flex-direction: column;
        margin-top: 12rem;
        margin: auto;
        height: auto;
        padding-top: 1rem;
    }
    .curso_detalles img{
        height: 35vh;
        margin: auto;
    }
    .cursos_relacionados{
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
    .cursos_relacionados{
        flex-direction: column;
    }
    .contenido_container{
        flex-direction: column;
    }
    .navMenu {
        display: none;
    }
    .profesor_container{
        flex-direction: column;
        margin-top: 4rem;
    }
    .titulo_curso{
        font-size: 2rem;
        text-align: center;
    }
    .curso_info{
        margin: 0 1rem;
        padding-bottom: 4rem;
        display: wrap;
    }
    .inscribirse{
        margin: 2rem auto 0 auto;
    }
    .contenido_titulo{
        margin: 0.4rem 1rem;
        font-size: 1rem;
    }
    .profesor_img{
        height: 120px;
    }
    .profesor_info{
        padding: 0;
    }
    .profesor_info p{
        font-size: 1rem;
    }

    /*Contacto*/
    .info_container{
        flex-direction: column;
        width: 100%;
        margin: auto;
        gap: 2rem;
    }
    form{
        width: 240px;
    }
    .datos_contacto{
        width: 240px;
        padding: 20px 20px;

    }
    .info_container{
        margin: 0;
        align-items: center;
    }
    .titulo_datos{
        font-size: 1.2rem;
        text-align: center;
        margin: 1rem 0;
    }

    .mapa{
        width: 270px;
    }
    .datos_contacto p{
        padding: 0;
    }
    #footer_btm{
        margin-top: 2rem;
    }


}
@media only screen and (max-width: 768px) {

    .curso_detalles{
        flex-direction: column;
        margin-top: 12rem;
        margin: auto;
        height: auto;
        width: 100%;
        padding-top: 1rem;
    }
    .curso_detalles img{
        height: 150px;
        margin: auto;
    }
    .cursos_relacionados{
        flex-direction: column;
    }
    .contenido_container{
        flex-direction: column;
    }
    .navMenu {
        display: none;
    }
    .profesor_container{
        flex-direction: column;
    }
    .titulo_curso{
        text-align: center;
    }
    .curso_info{
        margin: 0 1rem;
        padding-bottom: 4rem;

    }
    .inscribirse{
        margin: 2rem auto 0 auto;
    }
    .titulo_curso{
        font-size: 2.2rem;
    }
    .contenido_titulo{
        margin: 0.4rem 1rem;
        font-size: 1rem;
    }
    .profesor_container{
        margin-top: 4rem;
    }
    .profesor_img{
        height: 120px;
    }
    .profesor_info{
        padding: 0;
    }
    .profesor_info p{
        font-size: 1rem;
    }
    .cursos_relacionados{
        align-items: center;
        gap: 2rem;
    }

    /*Contacto*/
    .info_container{
        flex-direction: column;
        width: 100%;
        margin: auto;
        gap: 2rem;
    }
    form{
        width: 240px;
    }
    .datos_contacto{
        width: 240px;
        padding: 20px 20px;

    }
    .info_container{
        margin: 0;
        align-items: center;
    }
    .titulo_datos{
        font-size: 1.2rem;
        text-align: center;
        margin: 1rem 0;
    }

    .mapa{
        width: 270px;
    }
    .datos_contacto p{
        padding: 0;
    }
    #footer_btm{
        margin-top: 2rem;
    }


}