body{
    background-color: #ebebeb;
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000000;
}
/*Header*/
nav a{
    font-weight: 600;    
}
.logoLupa{
    color: #000000;
}
.logoHome{
    height: 15px;
    padding-right: 5px;
}

.divHeaderBuscador{
    position:relative;
    width: 40%;
}
.inputBusqueda{
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
    width: 80%;
}
.botonBusqueda{
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
    background-color: #ffffff;
    border: 0;
    outline: none;
    margin:auto;
}
.botonMiPerfil{
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #000000;
    outline: none;
    margin:auto;
    padding-right: 10px;
    width:120px;
    font-weight: 600;
}
.logoPerfil{
    padding-right: 5px;
}
.botonCalendario{
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #000000;
    outline: none;
    margin:auto;
    padding-right: 10px;
    width:120px;
    font-weight: 600;
}
.logoCalendario{
    padding-right: 5px;
}

.botonCarritoHeader{
    padding: 10px;
    border-radius: 5px;
    background-color: #00ce60;
    border: 2px solid #000000;
    outline: none;
    margin:auto;
    font-style: 00ce60;
}
.logoCarritoHeader{
    color: #000000;
    height: 15px;
}
.registrarse{
    color: #ffffff;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #ffffff;
    align-items: center;
    padding: 10px;
}

.logoHeader{
    display: flex;
    align-items: center;
}

.imagenHeader{
    height: 50px;
    margin-right: 10px;
}

/*Menu Header*/
.headerMenu{
    border-top-color: #000000;
    border-top-width: 1px;
    border-top-style: solid;
    background-color: #ffffff;
}
.headerMenu .navMenu .barraMenu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin:0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.itemMenuLink{
    color: #000000;
    font-weight: 400;
    transition-property: color, font-size;
    transition-duration: 0.2s;

}
.itemMenuLink:hover{
    font-size: 1.01rem;
    color: #00ce60;
}
/* Fin Header */

/*Home*/
.contenedorSubTituloRegistro{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.contenedorRegistro{
    justify-content: space-between;
    padding: 20px;
}
.contenedorForm{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}
.contenedorCargaDatos{
    font-weight: 600;    
    height: 100%;   
}
.contenedorCargaDatos{   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.contenedorCargaDatos input{   
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
    outline: none;
}
.contenedorCargaDatos textarea{   
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
    outline: none;
}
.contenedorDatosEmpresa{
    height: 100%;
}
.mapaUnlam{
    width: 80%;
    height: 80%;
    border: 0;
}
@media (max-width: 768px){
    .header{
        flex-direction: column;
        height: 140px;
    }
    nav{
        padding: 10px 0px; 
    }
}